<html>
 <body>
  <center>
<h1> POKER HAND RECOGNITION </h1>
<br>
<h3>SUITS:</h3>
<p>1: Hearts, 2: Spades, 3: Diamonds, 4: Clubs </p>
   <body background=''>
<form method="POST", action="{{url_for('home')}}">
      <b> Suit of card #1 : <input type="number", name='a', placeholder='1-4'><br><br>
      <b> Rank of card #1 : <input type="number", name='b', placeholder='1-13'><br><br>
    
      <b> Suit of card #2 : <input type="number", name='c', placeholder='1-4'><br><br>
      <b> Rank of card #2 : <input type="number", name='d', placeholder='1-13'><br><br>
      
      <b> Suit of card #3 : <input type="number", name='e', placeholder='1-4'><br><br>
      <b> Rank of card #3 : <input type="number", name='f', placeholder='1-13'><br><br>
      
      <b> Suit of card #4 : <input type="number", name='g', placeholder='1-4'><br><br>
      <b> Rank of card #4 : <input type="number", name='h', placeholder='1-13'><br><br>  
      
      <b> Suit of card #5 : <input type="number", name='i', placeholder='1-4'><br><br>
      <b> Rank of card #5 : <input type="number", name='j', placeholder='1-13'><br><br>

     <input type="submit", value='pred'>
    </b>
   </form>
  </center>
 </body>
</html>